/*
 * AFNOR Flow Service
 * The __Flow Service API__ allows to:   - Upload a flow.   - Retrieve information related to a set of flows.   - Download a flow given its identifier  The resources of the API are :   - `/flows` : with creation and retrieval methods.   - `/flows/webhooks` : creation, update, delete, list  Worflow example:   - `POST /flows` : provide the flow information & content   - `POST /flows/search` : retrieve flows given multiple criterias.   - `GET /flows/{id}` : download a flow based on its id.   - `POST /flows/webhooks` : subscribe to a channel of event   History:   - `1.0.0` : First release   - `1.0.1` : Fixes following 2025/04/15 SG5 plenary meeting     - Remove AcknowledgementXXX enumerates from FlowType     - Acknowledgement is now based upon details (level, item, reason)     - Add the attachment number in the flow information     - Add query parameters docType & docIndex to aim a specific download     - Change pagination method, from cursors to offsets   - `1.0.2` : Fixes following 2025/05/06 SG5 plenary meeting     - FlowId & TrackingId as not only UUID for more flexibility     - Add sha256 fingerprint to allow integrity check     - Add trackingId as a filter criteria and in the Flow object     - Add full FlowInfo object + submission date in POST response     - Add comments   - `1.1.0` : Fixes following 2025/05/20 SG5 meeting     - Get operation: allows also to return the flow data when docType is set to Metadata     - Search operation: flowId is no longer a criteria, prefer too use the Get by Id operation     - Remove any reference to any attached document to the flow     - Refactor FullFlowInfo schema     - FlowType update (FRR 10.*) for reporting     - AcknowledgementDetail update to add a message and a code     - offset removal, do pagination using updatedAfter     - remove 206 status code     - Add StateInvoice & associated LC in FlowType enum     - Add extensible reason codes related to Life cycle errors     - Add ProcessingRule to the flow object & criteria     - Add webhooks callback contents   - `1.2.0` :      - Webhook management, create, update, list, delete, get     - Add new flow types: B2G, B2GInt, B2GOutOfScope     - Add new client credentials OAuth2 workflow     - Optimized FlowInfo/FullFlowInfo/Flow schemas     - Add name in Flow schema     - Add OAuth2 securityScheme     - Add Header parameter Organization-Id to ease delegation   - `1.3.0` :     - Increase NotOnlyUuid to 64 characters     - Update Webhook configuration:       - remove processingRule from Metadata       - remove any required metadata field (metadat can be empty)       - simplify configuration (remove headers, auth & signature block)       - enrich URL path flexibility     - Added missing required for : processingRule & flowProfile in Flow schema in responses     - Add base path and service name as variables in server URL     - Remove StateInvoice flow type     - Add new flowtypes related to e-reporting flows sent to DFH       - StateCustomerInvoice       - StateSupplierInvoice       - StateTransactionReport       - StateTransactionReportLC       - StatePaymentReport       - StatePaymentReportLC     - Use a cursor-based pagination, more efficient than using just dates       - cursor in request       - nextCursor in response     - Add Undefined values for ProfileType, FlowType & ProcessingRule       - These 3 properties may not be defined in Pending & Error states 
 *
 * The version of the OpenAPI document: 1.3.0
 * Contact: sg5@afnor.org
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package fr.neotimo.xpz12013.flow.api;

import fr.neotimo.xpz12013.flow.ApiClient;
import fr.neotimo.xpz12013.flow.ApiException;
import fr.neotimo.xpz12013.flow.ApiResponse;
import fr.neotimo.xpz12013.flow.Pair;

import fr.neotimo.xpz12013.flow.model.Error;
import java.io.File;
import fr.neotimo.xpz12013.flow.model.Flow;
import fr.neotimo.xpz12013.flow.model.FlowInfo;
import fr.neotimo.xpz12013.flow.model.FullFlowInfo;
import fr.neotimo.xpz12013.flow.model.SearchFlowContent;
import fr.neotimo.xpz12013.flow.model.SearchFlowParams;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class FlowApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public FlowApi() {
    this(new ApiClient());
  }

  public FlowApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Submit a new flow
   * Submit a flow. A flow is a single-invoice file, with :   - an XML/PDF file with the data of the invoice  The flow is created with a &#x60;flowInfo&#x60; object, allowing to qualify the flow.    A flow can be :   - an invoice (CII, UBL, Factur-X,...)    - a lifecycle (CDAR)    - or a e-reporting file 
   * @param flowInfo  (required)
   * @param _file Flow file: Max size &#x3D; 100 MB (required)
   * @param requestId Header parameter used to correlate logs from several components (optional)
   * @param organizationId The organization that is aimed in a multi tenancy context (optional)
   * @return FullFlowInfo
   * @throws ApiException if fails to make API call
   */
  public FullFlowInfo createFlow(FlowInfo flowInfo, File _file, UUID requestId, String organizationId) throws ApiException {
    ApiResponse<FullFlowInfo> localVarResponse = createFlowWithHttpInfo(flowInfo, _file, requestId, organizationId);
    return localVarResponse.getData();
  }

  /**
   * Submit a new flow
   * Submit a flow. A flow is a single-invoice file, with :   - an XML/PDF file with the data of the invoice  The flow is created with a &#x60;flowInfo&#x60; object, allowing to qualify the flow.    A flow can be :   - an invoice (CII, UBL, Factur-X,...)    - a lifecycle (CDAR)    - or a e-reporting file 
   * @param flowInfo  (required)
   * @param _file Flow file: Max size &#x3D; 100 MB (required)
   * @param requestId Header parameter used to correlate logs from several components (optional)
   * @param organizationId The organization that is aimed in a multi tenancy context (optional)
   * @return ApiResponse&lt;FullFlowInfo&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<FullFlowInfo> createFlowWithHttpInfo(FlowInfo flowInfo, File _file, UUID requestId, String organizationId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createFlowRequestBuilder(flowInfo, _file, requestId, organizationId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createFlow", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<FullFlowInfo>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<FullFlowInfo>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<FullFlowInfo>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createFlowRequestBuilder(FlowInfo flowInfo, File _file, UUID requestId, String organizationId) throws ApiException {
    // verify the required parameter 'flowInfo' is set
    if (flowInfo == null) {
      throw new ApiException(400, "Missing the required parameter 'flowInfo' when calling createFlow");
    }
    // verify the required parameter '_file' is set
    if (_file == null) {
      throw new ApiException(400, "Missing the required parameter '_file' when calling createFlow");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/flows";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (requestId != null) {
      localVarRequestBuilder.header("Request-Id", requestId.toString());
    }
    if (organizationId != null) {
      localVarRequestBuilder.header("Organization-Id", organizationId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    MultipartEntityBuilder multiPartBuilder = MultipartEntityBuilder.create();
    boolean hasFiles = false;
    multiPartBuilder.addTextBody("flowInfo", flowInfo.toString());
    multiPartBuilder.addBinaryBody("file", _file);
    hasFiles = true;
    HttpEntity entity = multiPartBuilder.build();
    HttpRequest.BodyPublisher formDataPublisher;
    if (hasFiles) {
        Pipe pipe;
        try {
            pipe = Pipe.open();
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        new Thread(() -> {
            try (OutputStream outputStream = Channels.newOutputStream(pipe.sink())) {
                entity.writeTo(outputStream);
            } catch (IOException e) {
                e.printStackTrace();
            }
        }).start();
        formDataPublisher = HttpRequest.BodyPublishers.ofInputStream(() -> Channels.newInputStream(pipe.source()));
    } else {
        ByteArrayOutputStream formOutputStream = new ByteArrayOutputStream();
        try {
            entity.writeTo(formOutputStream);
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        formDataPublisher = HttpRequest.BodyPublishers
            .ofInputStream(() -> new ByteArrayInputStream(formOutputStream.toByteArray()));
    }
    localVarRequestBuilder
        .header("Content-Type", entity.getContentType().getValue())
        .method("POST", formDataPublisher);
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Download the file of a flow
   * Download a file related to a given flow:   - an invoice   - a life cycle   - an e-reporting 
   * @param flowId Flow identifier (required)
   * @param requestId Header parameter used to correlate logs from several components (optional)
   * @param organizationId The organization that is aimed in a multi tenancy context (optional)
   * @param docType This parameter allows to provide the type of file to be downloaded, can be either one:   - Metadata [Default]: provides the flow metadata as a JSON payload, no download   - Original: the document that has been initially sent/provided by the emitter   - Converted: the document that has been optionally converted by the system   - ReadableView: the document that has been optionally generated as the readable file  (optional, default to Metadata)
   * @throws ApiException if fails to make API call
   */
  public void getFlow(String flowId, UUID requestId, String organizationId, String docType) throws ApiException {
    getFlowWithHttpInfo(flowId, requestId, organizationId, docType);
  }

  /**
   * Download the file of a flow
   * Download a file related to a given flow:   - an invoice   - a life cycle   - an e-reporting 
   * @param flowId Flow identifier (required)
   * @param requestId Header parameter used to correlate logs from several components (optional)
   * @param organizationId The organization that is aimed in a multi tenancy context (optional)
   * @param docType This parameter allows to provide the type of file to be downloaded, can be either one:   - Metadata [Default]: provides the flow metadata as a JSON payload, no download   - Original: the document that has been initially sent/provided by the emitter   - Converted: the document that has been optionally converted by the system   - ReadableView: the document that has been optionally generated as the readable file  (optional, default to Metadata)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> getFlowWithHttpInfo(String flowId, UUID requestId, String organizationId, String docType) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getFlowRequestBuilder(flowId, requestId, organizationId, docType);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getFlow", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getFlowRequestBuilder(String flowId, UUID requestId, String organizationId, String docType) throws ApiException {
    // verify the required parameter 'flowId' is set
    if (flowId == null) {
      throw new ApiException(400, "Missing the required parameter 'flowId' when calling getFlow");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/flows/{flowId}"
        .replace("{flowId}", ApiClient.urlEncode(flowId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "docType";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("docType", docType));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (requestId != null) {
      localVarRequestBuilder.header("Request-Id", requestId.toString());
    }
    if (organizationId != null) {
      localVarRequestBuilder.header("Organization-Id", organizationId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/octet-stream, application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Select flows upon criteria
   * Retrieves a set of flows matching the provided search criteria:   - Need at least one criterion to be specified   - Assuming a logical AND when combining criteria   - Assuming a logical OR for criteria allowing a list of values  Pagination works with 2 different ways:   - with dates and the updatedAfter property     - the comparison with current date is strict : updatedAt &gt; updatedAfter   - with cursors (more secure)     - in case of pagination a nextCursor will be returned     - next pagination call shall set cursor value to nextCursor value of last call 
   * @param requestId Header parameter used to correlate logs from several components (optional)
   * @param organizationId The organization that is aimed in a multi tenancy context (optional)
   * @param searchFlowParams  (optional)
   * @return SearchFlowContent
   * @throws ApiException if fails to make API call
   */
  public SearchFlowContent searchFlows(UUID requestId, String organizationId, SearchFlowParams searchFlowParams) throws ApiException {
    ApiResponse<SearchFlowContent> localVarResponse = searchFlowsWithHttpInfo(requestId, organizationId, searchFlowParams);
    return localVarResponse.getData();
  }

  /**
   * Select flows upon criteria
   * Retrieves a set of flows matching the provided search criteria:   - Need at least one criterion to be specified   - Assuming a logical AND when combining criteria   - Assuming a logical OR for criteria allowing a list of values  Pagination works with 2 different ways:   - with dates and the updatedAfter property     - the comparison with current date is strict : updatedAt &gt; updatedAfter   - with cursors (more secure)     - in case of pagination a nextCursor will be returned     - next pagination call shall set cursor value to nextCursor value of last call 
   * @param requestId Header parameter used to correlate logs from several components (optional)
   * @param organizationId The organization that is aimed in a multi tenancy context (optional)
   * @param searchFlowParams  (optional)
   * @return ApiResponse&lt;SearchFlowContent&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SearchFlowContent> searchFlowsWithHttpInfo(UUID requestId, String organizationId, SearchFlowParams searchFlowParams) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = searchFlowsRequestBuilder(requestId, organizationId, searchFlowParams);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("searchFlows", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SearchFlowContent>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SearchFlowContent>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SearchFlowContent>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder searchFlowsRequestBuilder(UUID requestId, String organizationId, SearchFlowParams searchFlowParams) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/flows/search";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (requestId != null) {
      localVarRequestBuilder.header("Request-Id", requestId.toString());
    }
    if (organizationId != null) {
      localVarRequestBuilder.header("Organization-Id", organizationId.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(searchFlowParams);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
